
<div id="body">

<div  id="main" > 
<div class="container"  id="container">
	
	<div class="form-container sign-in-container " [formGroup]="loginForm" (ngSubmit)="LoginTo()"  >
		<form action="#" id="form1">
			<h1>Sign in</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your account</span>
			<input type="email" placeholder="Email" class="form-control" name="email" formControlName="email" [(ngModel)]="email"/>
			<input type="password" placeholder="Password"  class="form-control"  name="password" formControlName="password" [(ngModel)]="password" />
			<a href="#">Forgot your password?</a>
			<button  class="btn btn-primary" (click)="logIn()">Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			
			<div class="overlay-panel overlay-right">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
			</div>
		</div>
	</div>
</div>

</div>

</div>