<div style="padding: 80px;background-color: rgb(236, 206, 196);">

    <div id="main">
        <div id="left">
    <div id="lnav">
        <!-- <i class="ri-arrow-left-line"></i>
    <div id="lnavr" >

        <a href="">About</a><a href="">Work</a><i class="ri-twitter-fill"></i>
    </div> -->

    <div id="textcenter">
 <h1> About Us </h1>
<p> This site helps customer to get more options in the food as we try to put all resturents within a single sit, thus giving them a better experience .we help deliver food to a broader range of people by providing means of communication for ordering and deliverying.</p>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias illum dicta quae dolore.</p>

<a href="#"> Read  </a>
    </div>

    
    
    
</div>
    
    
        </div>
        <div id="right">
            <div id="rtop">
    <div id="rtopleft"></div>
    <div id="rtopright"></div>
            </div>
            <div id="rbottom">
 

<!-- 
-->


                
            </div>
        </div>
    </div>
    



</div>
<!-- <div style="background-color: rgb(234, 222, 244); ">
<div id="slider" style="align-content: center; justify-content: center;">
    <div id="carouselExampleControls"   class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" >
          <div class="carousel-item active" >
            <img src="https://img.freepik.com/free-photo/kebab-platter-with-grilled-chicken-lula-kebab-ribs-kebab-grilled-peppers_140725-6683.jpg?w=900&t=st=1692081901~exp=1692082501~hmac=beb54bd1f58bfc356e741c2299e353eb220f3229727512f540c8ad80fd247e5f" width="1000" height="600" class="d-block"  >
          </div>
          <div class="carousel-item">
            <img src="https://img.freepik.com/free-photo/gourmet-grilled-all-beef-hot-dog-with-sides-chips-delicious-simple-hot-dogs-with-mustard-pepper-onion-nachos-hot-dogs-fully-loaded-with-assorted-toppings-paddle-board_1150-44657.jpg?size=626&ext=jpg" width="1000" height="600"  class="d-block ">
          </div>
          <div class="carousel-item">
            <img src="https://img.freepik.com/free-photo/chicken-pizza-with-bell-peppers-tomato-cheese-round-wooden-board_140725-10493.jpg?w=900&t=st=1692083134~exp=1692083734~hmac=2cb8d6f4dfc2da686d19f3851d556c6a393358ac712492d22260f8714ef92b52" width="1000" height="600"  class="d-block " >
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div> 
</div>
</div> -->